@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #1f2937;
  font-family: 'Roboto', sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
}

.board {
  border: 0.5rem solid #fff;
  background: #fff;
  width: 500px;
  height: 500px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 0.5rem;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.2);
}

.squares {
  background: #1f2937;
  border-radius: 5px;
  border: none;
  font-size: 5rem;
  /* font-weight: 800; */
  cursor: pointer;
  outline: none;
}

.X {
  font-weight: bold;
  color: #fff;
  background: #f87171;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.O {
  font-weight: bold;
  color: #fff;
  background: #34d399;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.message {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.message h2 {
  font-weight: bold;
  letter-spacing: 0.5px;
}

.reset-button {
  background: #34d399;
  padding: 1rem 2rem;
  outline: none;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.reset-button:hover {
  background: #00af6f;
}

.rewind-button {
  background: #f87171;
  padding: 1rem 2rem;
  outline: none;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.rewind-button:hover {
  background: #ee4e4e;
}

.control-buttons {
  margin-top: 1rem;
  display: flex;
  justify-content: space-evenly;
}
